appnope==0.1.0
decorator==4.0.2
gnureadline==6.3.3
ipdb==0.8.1
ipython==4.0.0
ipython-genutils==0.1.0
nine==0.3.4
numpy==1.9.2
numpy-stl==1.5.0
path.py==8.1.1
pexpect==3.3
pickleshare==0.5
Pillow==2.8.2
python-utils==1.6.2
simplegeneric==0.8.1
traitlets==4.0.0
wheel==0.24.0
scipy==0.15.1